Loan Bullshit

In [2]:


from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

import numpy as np
import os 
import pandas as pd
from sklearn.model_selection import train_test_split
from matplotlib import cm

In [3]:
#Importing the dataset
df = pd.read_csv("credit_train.csv")
dtest = pd.read_csv("credit_test.csv")
pd.isnull(df).any()
df.dataframeName = "credit.csv"
print(df.shape)

(100514, 19)

In [4]:
df.head(5)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [5]:
#making copies of the dataset
trainin= df.copy()
test = dtest.copy()
#removing unwanted features
trainin = trainin.drop(['Loan ID', 'Customer ID' ], axis =  1)
test = test.drop(['Loan ID', 'Customer ID' ], axis =  1)
print(trainin.columns)
print(test.columns)

Index(['Loan Status', 'Current Loan Amount', 'Term', 'Credit Score',
       'Annual Income', 'Years in current job', 'Home Ownership', 'Purpose',
       'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')
Index(['Current Loan Amount', 'Term', 'Credit Score', 'Annual Income',
       'Years in current job', 'Home Ownership', 'Purpose', 'Monthly Debt',
       'Years of Credit History', 'Months since last delinquent',
       'Number of Open Accounts', 'Number of Credit Problems',
       'Current Credit Balance', 'Maximum Open Credit', 'Bankruptcies',
       'Tax Liens'],
      dtype='object')

In [6]:
trainin.dtypes

Loan Status                      object
Current Loan Amount             float64
Term                             object
Credit Score                    float64
Annual Income                   float64
Years in current job             object
Home Ownership                   object
Purpose                          object
Monthly Debt                    float64
Years of Credit History         float64
Months since last delinquent    float64
Number of Open Accounts         float64
Number of Credit Problems       float64
Current Credit Balance          float64
Maximum Open Credit             float64
Bankruptcies                    float64
Tax Liens                       float64
dtype: object

In [7]:
# getting an insight about the categories in the column

trainin['Years in current job']=trainin['Years in current job'].map({'8 years':8, '10+ years':10, '3 years':3, '5 years':5, '< 1 year':0,
                                    '2 years':2, '4 years':4, '9 years':9, '7 years':7, '1 year':1, '6 years':6})

test['Years in current job']=test['Years in current job'].map({'8 years':8, '10+ years':10, '3 years':3, '5 years':5, '< 1 year':0,
       '2 years':2, '4 years':4, '9 years':9, '7 years':7, '1 year':1, '6 years':6})

trainin['Years in current job'].value_counts(normalize = True)

10.0    0.324928
2.0     0.095366
3.0     0.085291
0.0     0.085239
5.0     0.070862
1.0     0.067448
4.0     0.064138
6.0     0.059366
7.0     0.058228
8.0     0.047840
9.0     0.041293
Name: Years in current job, dtype: float64

In [8]:
trainin['Years of Credit History'].value_counts(normalize = True)

16.0    0.01340
15.0    0.01305
17.0    0.01219
16.5    0.01176
14.0    0.01151
         ...
59.9    0.00001
51.4    0.00001
58.0    0.00001
53.8    0.00001
52.2    0.00001
Name: Years of Credit History, Length: 506, dtype: float64

In [9]:
trainin['Credit Score'].describe()


# removing outliers
trainin=trainin.drop(trainin[trainin['Credit Score']>900].index)
test = test.drop(test[test['Credit Score']>900].index)
trainin['Credit Score'].describe()

count    76295.000000
mean       716.615230
std         28.117302
min        585.000000
25%        704.000000
50%        722.000000
75%        739.000000
max        751.000000
Name: Credit Score, dtype: float64

In [10]:
#Dealing with null values:
# dropping the samples whose target (loan status) having missing values
trainin=trainin.drop(trainin['Loan Status'][trainin['Loan Status'].isna()].index)
trainin['Credit Score'].fillna((trainin['Credit Score'].mean()), inplace = True)
trainin['Annual Income'].fillna(0,inplace=True)
trainin['Years of Credit History'].fillna((trainin['Years of Credit History'].mean()), inplace = True)
trainin['Monthly Debt'].fillna((trainin['Monthly Debt'].mean()), inplace = True)
trainin['Number of Open Accounts'].fillna((trainin['Number of Open Accounts'].mean()), inplace = True)
trainin['Number of Credit Problems'].fillna(0,inplace=True)
trainin['Current Credit Balance'].fillna((trainin['Current Credit Balance'].mean()), inplace = True)
trainin['Maximum Open Credit'].fillna((trainin['Maximum Open Credit'].mean()), inplace = True)
trainin['Bankruptcies'].fillna(0,inplace=True)
trainin['Tax Liens'].fillna(0,inplace=True)
trainin['Years in current job'].fillna(0,inplace=True)
trainin['Months since last delinquent'].fillna(0,inplace=True)


test['Credit Score'].fillna((test['Credit Score'].mean()), inplace = True)
test['Annual Income'].fillna(0,inplace=True)
test['Years of Credit History'].fillna((test['Years of Credit History'].mean()), inplace = True)
test['Monthly Debt'].fillna((trainin['Monthly Debt'].mean()), inplace = True)
test['Number of Open Accounts'].fillna((test['Number of Open Accounts'].mean()), inplace = True)
test['Number of Credit Problems'].fillna(0,inplace=True)
test['Current Credit Balance'].fillna((test['Current Credit Balance'].mean()), inplace = True)
test['Maximum Open Credit'].fillna((test['Maximum Open Credit'].mean()), inplace = True)
test['Bankruptcies'].fillna(0,inplace=True)
test['Tax Liens'].fillna(0,inplace=True)
test['Years in current job'].fillna(0,inplace=True)
test['Months since last delinquent'].fillna(0,inplace=True)
trainin.head()
pd.isnull(trainin).any()
test.dtypes

Current Loan Amount               int64
Term                             object
Credit Score                    float64
Annual Income                   float64
Years in current job            float64
Home Ownership                   object
Purpose                          object
Monthly Debt                    float64
Years of Credit History         float64
Months since last delinquent     object
Number of Open Accounts           int64
Number of Credit Problems         int64
Current Credit Balance            int64
Maximum Open Credit               int64
Bankruptcies                    float64
Tax Liens                       float64
dtype: object

In [31]:
training = trainin
training = training.drop(['Term', 'Purpose' , 'Months since last delinquent','Home Ownership'] , axis = 1)
test = test.drop(['Term','Purpose','Months since last delinquent','Home Ownership'], axis =1)
features = training.iloc[:,1:]
target = training['Loan Status']
test.head()

,Current Loan Amount,Credit Score,Annual Income,Years in current job,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,611314,747.0,2074116.0,10.0,42000.83,21.8,9,0,621908,1058970,0.0,0.0
1,266662,734.0,1919190.0,10.0,36624.40,19.4,11,0,679573,904442,0.0,0.0
2,153494,709.0,871112.0,2.0,8391.73,12.5,10,0,38532,388036,0.0,0.0
3,176242,727.0,780083.0,10.0,16771.87,16.5,16,1,156940,531322,1.0,0.0
4,321992,744.0,1761148.0,10.0,39478.77,26.0,14,0,359765,468072,0.0,0.0

In [32]:
x_train , x_val , y_train , y_val = train_test_split(features, target , shuffle = False)
scale=StandardScaler()
features=scale.fit_transform(features)
kf= KFold(n_splits=10, shuffle=False)
y_val.shape

(23863,)

In [33]:
logreg = LogisticRegression()
logreg.fit(x_train,y_train)
predict = logreg.predict(x_val)
score = cross_val_score(logreg , features , target , scoring = 'accuracy' , cv = kf)
print(score)
print(np.mean(score)*100)
print(predict)

[0.80911472 0.81341016 0.81288633 0.80586695 0.81016239 0.80921949
 0.81864851 0.80806705 0.80796228 0.80804694]
81.03384813718228
['Fully Paid' 'Fully Paid' 'Fully Paid' ... 'Fully Paid' 'Fully Paid'
 'Fully Paid']

In [11]:
x =trainin[["Credit Score", "Current Loan Amount"]].values
y = trainin["Loan Status"].values

In [12]:
df["Loan Status"].value_counts()

Fully Paid     77361
Charged Off    22639
Name: Loan Status, dtype: int64

In [13]:
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression()
log_model = log_model.fit(x,y)

In [14]:
log_model.predict_proba([[500, 200]])

array([[0.29080675, 0.70919325]])

In [15]:
def Loan_Predict(Credit_Score, Current_Loan_Amount):
    out = log_model.predict_proba([[Credit_Score, Current_Loan_Amount]])
    if out[0][1] > 0.8:
        print("Loan will Approve..")
    else:
        print("Loan will not Approve")

In [16]:
Loan_Predict(329, 400)

Loan will not Approve

In [17]:
from ipywidgets import interact

In [18]:
interact(Loan_Predict, Credit_Score =(200, 1500), Current_Loan_Amount = (1000, 1000000))

interactive(children=(IntSlider(value=850, description='Credit_Score', max=1500, min=200), IntSlider(value=500…

In [19]:
y_pred = log_model.predict(x)

In [20]:
cm = confusion_matrix(y, y_pred)
cm

array([[    0, 18088],
       [    0, 77361]])

In [21]:
accuracy_score(y,y_pred)

0.8104956573667613